.header{
	height: 20%;
	color: white;
}
.content{
	width: 50%;
	height: 80%;
	display: inline;
	color: white;

}

.links{
	width: 50%;
	height: 80%;
	display: inline;
	color: white;
}

a{
	color: blue;
}

a:hover{
	color: red;
}

a:active{
	color: purple;
}

a:visited{
	color: green;
}

