body {
	background-image: url("Images/The Panther Spirit.png");
	color: blue;
}

.header {
	height: 20%;
	color: white;
	font-size: 120px;
}


a:hover {
	color: red;
}

a:active {
	color: purple;
}

a:visited {
	color: black;
}

div {
	background-color: white;
	width: 200px;
	border: 30px solid blue;
	padding: 30px;
	margin: auto auto;
}