body{
	background-image: url("Images/Black_Panther_Moon.jpg");
	color: black;
}


a:hover{
	color: red;
}

a:active{
	color: purple;
}

a:visited{
	color: blue;
}

div {
	background-color: white;
	width: 300px;
	border: 25px solid blue;
	padding: 25px;
	margin: auto auto;
}