body {
	background-image: url("Images/black%20panther.jpg");
	color: black;
}



a:hover{
	color: red;
}

a:active{
	color: purple;
}

a:visited{
	color: green;
}

div {
	background-color: white;
	width: 300px;
	border: 25px solid purple;
	padding: 25px;
	margin: auto auto;
}