body{
	background: White;
	color:black;
	font-family:Times New Roman
	font-size: 24;
}

h1{
	text-align: center;
	color: black;
	font-family: Times New Roman;
	background:Blue;
}

p{
	text-algin: center;
	color: white;
	font-family:Times New Roman;
	background:black;
}

#table-of-contents{
	list-style:None;
	position:relative;
	top: 25px;
	left: 25px;
	font-family:Times New Roman;
	font-weight:bold;
	font-size: 18;
	width:50%;
	color:black;


.container {
	background:blue;
	padding: 15px;
	border:	10px inset black;
	margin:	30px auto;
	width:	95%; float:center;
}



